<div class="card-body">
  <table class="table seat-total-table">
  <h3 class="card-title">
    <tr>
      <th>Booking details</th>
    <tr>
  </h3>
  <h4 class="card-text">
    <tr>
      <th>Ticket total</th>
      <td><span class="ticket-total"> 0.00</span></td>
    </tr>
  </h4>
  <h4 class="card-text">
    <tr>
      <th>GST (18%)</th>
      <td><span class="tax"> 0.00</span></td>
    </tr>
  </h4>
  <h4 class="card-text">
    <tr>
      <th>Total</th>
      <td><span class="total"> 0.00</span></td>
    </tr>
  </h4>
  </table>
</div>
